<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form>
        <div>
          <label for="">Task Name:</label> <br />
          <input ng-model="task.name" type="text" /> <br />
          <label for="">Task Description:</label> <br />
          <input ng-model="task.description" type="text" > <br />
          <select ng-model="task.frequency" name="Frequency">
            <option value="Daily">Daily</option>
            <option value="Weekly">Weekly</option>
            <option value="Monthly">Monthly</option>
          </select>
        </div>
      </form>
        <p ng-show="warning">Please add a task first</p>
        <button ng-click="addTask(task)">Add Your Task</button>
        <button ng-click="submit(tasks)">Submit</button>
      </div>
      <div ng-repeat="task in tasks" class="col-md-6">
        <ul>
          <a ng-click="deleteTask(tasks, $index)">Delete</a>
          <li>{{task.name}} <span>{{task.frequency}}</span></li>
          <li>{{task.description}}</li>
        </ul>
      </div>
    </div>
    <a ui-sref="dashboard.yourTasks" class="btn btn-primary">Your Dashboard</a>
  </div>
