<div class="container-fluid mobile-padding">
  <div class="row">
    <div class="col-sm-1" ng-include="'includes/navbar.html'"></div>
    <div class="container">
      <div class="row">

    <div class="col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-1 top-padding text-center">
      <form>
        <div class="task-input-card">
          <div class="card-topper bg-teal">
            <p class="card-topper-headline">Create All House Tasks</p>
          </div>
          <label for="">Task Name</label> <br />
          <input ng-model="task.name" type="text" /> <br />
          <label for="">Task Description</label> <br />
          <input ng-model="task.description" type="text" > <br />
          <!-- <select class="center-block" ng-model="task.frequency" name="Frequency">
            <option value="Daily">Daily</option>
            <option value="Weekly">Weekly</option>
            <option value="Monthly">Monthly</option>
          </select> -->
          <!-- <label>Frequency Of Task</label> <br> -->
          <input ng-model="task.frequency" id="1" type="radio" name="frequency" value="daily"><label class="freq" for="1">Daily</label>
          <input ng-model="task.frequency" id="2" type="radio" name="frequency" value="weekly"><label for="2" class="freq">Weekly</label>
          <input ng-model="task.frequency" id="3" type="radio" name="frequency" value="monthly"><label for="3" class="freq">Monthly</label><br>
        <p ng-show="warning">Please add a task first</p>
        <a href="" ng-click="addTask(task)" class="button bg-teal margin-right">Add A Task</a>
        <a href="" ng-click="submit(tasks)" class="button bg-red">Submit All</a>
        </div>
      </form>
    </div>
    <div class="col-sm-5 col-md-5 top-padding">
      <div ng-repeat="task in tasks">
        <a ng-click="deleteTask(tasks, $index)" class="fa fa-times close"></a>
        <ul class="single-task-group">
          <li>
            <p class="task-name">{{task.name}}</p>
            <p class="task-frequency">{{task.frequency}}</p>
            <p class="task-description clear">{{task.description}}</p>
          </li>
        </ul>
      </div>
    </div>
    </div>
    </div>
  <!-- <a ui-sref="dashboard.yourTasks" class="btn btn-primary">Your Dashboard</a> -->
  </div>
</div>
