<div class="modal-header light-purple">
  <h3 class="modal-title">Event action occurred!</h3>
</div>
<div class="modal-body">
  <!-- <p>Action: <pre>{{ vm.action }}</pre></p>
  <p>Event: <pre>{{ vm.event | json }}</pre></p> -->
  <h3>Add Event <button type="button" class="btn btn-info" ng-click="events.unshift(createDefaultEvent())">New Event</button></h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Type</th>
          <th>Starts At</th>
          <th>Ends At</th>
          <th>Remove</th>
        </tr>  
      </thead>
      <tbody>
        <tr ng-repeat="event in events track by $index">
          <td><input type="text" class="form-control input-sm" ng-model="event.title"></td>
          <td>
            <select ng-model="event.type" class="form-control input-sm">
            <option value="important">Important</option>
            <option value="warning">Warning</option>
            <option value="info">Info</option>
            <option value="inverse">Inverse</option>
            <option value="success">Success</option>
            <option value="special">Special</option>
            <!-- Add more options for importance of event here -->
          </td>
          <td>
            <p class="input-group" style:"max-width:250px">
            <input type="text" class="form-control input-sm" readonly datepicker-popup="medium" ng-model="event.startsAt" is-open="event.startOpen" close-text="Close"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-sm" ng-click="toggle($event, 'startOpen', event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            </p>
            <input type="time" step="900" class="form-control input-sm" ng-model="event.startsAt"/>
          </td>
          <td>
            <p class="input-group" style:"max-width:250px">
            <input type="text" class="form-control input-sm" readonly datepicker-popup="medium" ng-model="event.endsAt" is-open="event.endOpen" close-text="Close"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-sm" ng-click="toggle($event, 'endOpen', event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            </p>
            <input type="time" step="900" class="form-control input-sm" ng-model="event.endsAt"/>
          </td>
          <td><button class="btn btn-danger btn-sm" ng-click="events.splice($index, 1)">Remove</button></td>
        <tr>
      </tbody>
    </table>
    
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="$close()">OK</button>
</div>