<div class="container text-center ls-padding">
  <div class="row">
    <div class="col-sm-6">
        <form class="living-space">
          <div class="task-input-card bg-main-purple">
            <div class="card-topper bg-teal">
              <p class="card-topper-headline">Create Your Dwelling</p>
            </div>
            <label for="living-space-name">Dwelling Name</label> <br />
            <p class="form-warning-text" ng-show="nameWarning">Please Enter A Name</p>
            <input id="living-space-name" ng-change="nameValidate()" ng-model="livingSpace.name" type="text" /> <br />
            <label for="living-space-address">Address</label> <br />
            <p class="form-warning-text" ng-show="addressWarning">Please Enter An Address</p>
            <input id="living-space-address" ng-change="addressValidate()" ng-model="livingSpace.address" type="text" > <br />
            <a class="button bg-teal ls-button" href="" ng-click="createDwelling(livingSpace)">Submit</a>
          </div>
        </form>
    </div>

    <div class="col-sm-6">
      <form class="join-living-space">
        <div class="task-input-card bg-main-purple">
          <div class="card-topper bg-purple-hover">
            <p class="card-topper-headline">Join A Dwelling</p>
          </div>
          <label for="join-living-space">Enter Your Dwelling ID Number</label> <br />
          <!-- <p class="form-warning-text" ng-show="nameWarning">Incorrect Living Space</p> -->
          <input id="join-living-space" type="text" ng-model="dwellingId" /> <br />
          <label for="">Enter Your PIN</label> <br />
          <!-- <p class="form-warning-text" ng-show="addressWarning">Incorrect PIN</p> -->
          <input id="join-living-space" type="text" ng-model="pin"> <br />
          <a class="button bg-dark-purple ls-button" href="" ng-click="joinDwelling()">Join</a>
        </div>
      </form>
    </div>
  </div>
</div>
